@font-face {
    font-family: MontserratAlternates-Regular;
    src: url(/font/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(/font/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(/font/Montserrat/static/Montserrat-Light.ttf);
}

:root {
    --main-color: #EDEBDF;
    --secondary-color: #ECE9E4;
    --container-color: #856548;
    --footer-color: #473F22;
    --font-size: 16px;
    --main-font-family: "Montserrat-Regular"; 
    --secondary-font-family: "MontserratAlternates-Regular";
    --quote-font-family: "Montserrat-Light"
}

html, body {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font-family);
}

header, footer {
    background-color: var(--secondary-color);
    display: flex; 
    justify-content: space-between;  
    border-bottom: 1px #403d39 solid; 
    height: 90px;
}

.title-logo, .title-logo-footer {
    display: flex;
    align-items: center;
}

.title-logo img, .title-logo-footer img {
    width: 80px;
    height: 80px;
    padding-left: 30px;
}

.title-logo p, .title-logo-footer p{
color: #403d39 ;
padding-left: 20px;
font-size: 20px;
font-family: var(--primary-font-family);
text-transform: uppercase;
}

nav {
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    font-family: var(--secondary-font-family);
    color: #403d39;
    font-weight: 400;
}
nav a:hover{
    color: #d4a373;
}
nav a {
    color: #403d39;
}

.banner {
   height: 700px;
   display: flex;
   position: relative;
   border-bottom: 1px #403d39 solid; 
}

.banner-background-image {
    background-image: url(images/image1.jpg);  
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 100%;
   filter: blur(3px);
}

.banner-content{
    width: 100%;
    height: 100%;
    font-family: var(--secondary-font-family);
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1 {
    display: flex;
    flex-direction: column;
}
.container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 40px 20px 10px 20px;
    font-family: var(--quote-font-family);
}
.container h3 {
    font-size: 30px;
    font-family: var(--secondary-font-family);
}

.block-column {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
}

.block-column div {
    width: 300px;
    padding: 60px;
    margin: 20px;
}

.block-column img {
    width: 300px;
    height: 300px; 
    border: 1px #403d39 solid;
}

.block-column img:hover{
    opacity: 0.5;
}

.block2 {
    background-color: var(--container-color);
    display: flex;
}

.block2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block2 img {
    width: 60%;
    height: 700px;
    padding: 20px;
}
.block-wrapper {
    display: flex;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
    width: 60%
    
}

.wrapper img{
    width: 100%;
    height: 100%;
  
}
.wrapper img:hover {
    opacity: 0.5;
}

footer {
    background-color: var(--footer-color);
}

.title-logo-footer p {
    color: var(--secondary-color);
}

.articles {
    
}