header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #403d39 solid;
    height: 90px;
}

.title-logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title-logo span {
    padding-left: 10px;
}

.title-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: var(--main-font-family);
}

.title-logo img {
    width: 80px;
    height: 80px;
}

.title-logo p {
    color: #403d39;
    padding-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--main-font-family);
}

nav {
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-family: var(--secondary-font-family);
    color: #403d39;
    font-weight: 400;
}

nav a {
    color: #403d39;
    padding: 0 10px;
}

nav a:hover {
    color: #d4a373;
}

